.vscode
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
LineRacer.exe
GPATH 
GRTAGS 
GTAGS 
LineRacer
.cmake_dirty
LineRacer.*
.codelite
.tern-*
wks.code-workspace
.boglfw_path 
